@tailwind base;
@tailwind components;
@tailwind utilities;

.tw-summary-p {
  @apply text-gray-700 text-xs text-left
}
.tw-read-more {
  @apply text-sm rounded-md ml-1 px-2
}
.tw-chip {
  @apply inline-block rounded-full px-3 py-1 text-xs text-gray-700 mr-2 mb-2
}
.tw-price-float {
  top: 0px;
  left: 0px;
  @apply opacity-75 text-blue-600 font-bold text-lg bg-white p-2
}
label {
  @apply text-xs
}
input {
  @apply mx-2
}
input[type=number] {
  width: 5rem;
}